* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffd700;
  color: #252525;
  line-height: 1.6;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  color: #252525;
  margin-bottom: 20px;
}

.input_holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input,
button {
  padding: 10px 20px;
  background-color: #252525;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.buttonsinpopup {
  display: flex;
  gap: 10px; 
  margin-top: 10px; 
}

.buttonsinpopup button {
  margin-bottom: 10px; 
}

.buttons button {
  margin-right: 10px;
}

input {
  width: calc(100% - 40px);
}

input::placeholder {
  color: #c4c4c4;
}

button:hover {
  cursor: pointer;
  background-color: #4d4d4d;
}

.list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.toDo {
  opacity: 0;
  transform: translateY(20px);
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  animation: fadeInUp 0.5s ease-out forwards; 
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.toDo:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.icon:hover {
  cursor: pointer;
  color: #c4c4c4;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
}

.popup {
  position: relative;
  background-color: #fff;
  width: 100%; /* Full width on larger screens */
  max-width: 80%; /* Maximum width for responsiveness */
  height: 40%; /* Adjusted height for responsiveness */
 /* Maximum height for responsiveness */
  padding: 30px; /* Increased padding */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.cross {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #252525;
}

.cross:hover {
  color: #c4c4c4;
}

.popup h1 {
  text-align: center;
  font-weight: 500;
  color: #252525;
  margin-bottom: 20px;
}

.popup__input_holder {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.popup__input_holder input {
  background-color: #252525;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  width: 100%;
}

.popup__input_holder input::placeholder {
  color: #c4c4c4;
}

.popup__input_holder button {
  background-color: #252525;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-bottom: 10px;
  width: 40%;
  margin: auto;
}

.popup__input_holder button:hover {
  background-color: #4d4d4d;
}

.mic {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.mic::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.mic.on::before {
  content: '🎙️';
  color: green;
}

.mic.off::before {
  content: '🔴';
  color: red;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 600px) {
  .input_holder,
  .list,
  .toDo {
    width: 100%;
  }

  .popup {
    padding: 10%;
    width: 90%;
    height: auto;
    max-height: none;
  }

  .popup__input_holder button {
    width: 100%; 
  }

  .cross {
    top: 5px;
    right: 5px;
  }

  .popup h1 {
    font-size: 1.5rem;
  }
}

